header {
	text-align: center;
	font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 25px;
	color: white;

}
strong {

	font-size: 20px;
	color: 	white;
	font-style: bold;
}

a {
	font-size: 20px;
	color: 	white;
}

body {
	margin: 0 auto;
	max-width: 800px;
	background: url(background.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}
.image1 {
	height: 200px;
	width: 200px;
	margin: 40px 0px 0px 0px;
	border-radius: 200px;
}

.image2 {
	display: block;
	height: 300px;
	width: 400px;
	padding: 30px;
	margin-right: auto;
    
}

}
section {
	font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 15px;
	color: white;
}

ul {
	font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 15px;
	color: white;
}

iframe {
	display: block;
	height: 300px;
	width: 300px;
	padding-top: 100px;
	padding-bottom: 50px;
	margin: 0 auto;
}

p {

	font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 25px;
	color: white;
	font-style: bold;
}

footer {
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;

}

h2 {
	color:white;
}
div {
	font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 15px;
	color: white;
	font-style: bold;
}
.input1 {

	padding-top: 50px;
	text-align: center;
}